<?xml version="1.0"?>
<config>
    <modules>
        <Magecom_BundleSeparate>
            <version>0.1.0</version>
        </Magecom_BundleSeparate>
    </modules>
    <global>
        <models>
            <magecom_bundleseparate>
                <class>Magecom_BundleSeparate_Model</class>
            </magecom_bundleseparate>
        </models>
        <events>
            <sales_order_save_before>
                <observers>
                    <magecom_bundletosimple>
                        <class>Magecom_BundleSeparate_Model_Observer</class>
                        <method>separateBundleInOrder</method>
                    </magecom_bundletosimple>
                </observers>
            </sales_order_save_before>
        </events>
    </global>
    <frontend>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <magecom_bundleseparate>
                        <class>Magecom_BundleSeparate_Model_Observer</class>
                        <method>bundleSeparate</method>
                    </magecom_bundleseparate>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_cart_save_before>
                <observers>
                    <magecom_bundledelete>
                        <class>Magecom_BundleSeparate_Model_Observer</class>
                        <method>removeBundle</method>
                    </magecom_bundledelete>
                </observers>
            </checkout_cart_save_before>
            <sales_quote_remove_item>
                <observers>
                    <magecom_bundlediscountremove>
                        <class>Magecom_BundleSeparate_Model_Observer</class>
                        <method>removeDiscount</method>
                    </magecom_bundlediscountremove>
                </observers>
            </sales_quote_remove_item>
        </events>
    </frontend>
</config>